.demo-container {
    width: 80%;
    height: 100%;
    padding: 25px 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 255, 0.3); 
}

.song-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: none;
}

.song-item:hover {
    transform: scale(1.02);
}

.song-info {
    flex: 1; 
}

.song-info h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.song-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666; 
}

/* Play button */
.play-button {
    background: none;
    border: none;
    font-size: 20px;
    color: #4b6ef1;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.2s ease;
}

.play-button:hover {
    transform: scale(1.1);
}
